{{define "aboutMe" .}}
  <h1>
    Hola, soy Edmundo.
  </h1>
    <p>
    Soy desarrollador web, me enfoco en el backend sobre todo, me
    gusta entender las cosas desde abajo porque para mi la raíz es importante.
    Estoy realizando pasantías en las que uso php y vue, así como node.js, go, 
    como lenguajes. Soy autodidacta. He estudiado sistemas operativos, así como
    protocolos, también me he interiorizado un poco sobre parseo de texto y lenguajes
    en si.
    Para hacer cosas a un nivel por debajo y entender como funcionan las cosas he estudiado
    un poco de C. 
    La verdad debido a mi interés por el backend me ha costado mucho pensar como hacer mi
    portafolio, es decir mostrar mi trabajo, ya que lo que sale es visual, y la mayoría de los
    proyectos en los que trabajo son privados, por lo que se me ocurrió tomar el mismo portafolio
    como un proyecto y explicarlo, así como otros pequeños proyectos "juguete".
    </p>
{{end}}
